* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navbarMain {
  top: 0;
  width: 100%;
  height: auto;
  position: fixed;
  background-color: #292828;
}
navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  margin-top: 2%;
  font-weight: bold;
  margin-left: 50%;
  display: flex;
  list-style-type: none;
  width: 600px;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 25px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 70px;
  color: rgb(205, 196, 207);
  margin: 0;
  animation: moveInLeft 2s ease-out;
}

.text-3 {
  animation: moveInRight 2s ease-out;
}
.typing{
  color:#e29f3b;
}
li a{
  color:#fff
}
li a:hover{
  color: #e29f3b;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-120px);
  }
  65% {
    transform: translate(15px)
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(130px);
  }
  65% {
    transform: translate(-15px)
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

p {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
}

section {
  background-color: lavender;
}

.hero {
  background-color:#111;
  height: 50vh;
  color: lavender;
  font-size: 40px;
   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; 
}
.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  margin-top: 50px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 30px;
}

.socials {
  padding-bottom: 40px;
}

.logo {
  height: 80px;
  margin: 30px;
}
.social {
  margin: 20px;
}
.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media all and (min-width:480px) and (max-width:1000px) {
  .hero {
    margin: auto;
    height: 480px;
  }
  .hero-area{
    margin: auto;
    margin-top: 50px;
    display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* border:1px solid red; */
  }
  #hamburger{
    display: block;
    border: 0;
    background-color: #111;
    color: white;
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin: 10px;
    align-self: flex-end;
    /* border: 1px solid red;; */
  }
  ul{
    display: none;
    background-color: transparent;
    margin: 0ppx;
  }
  ul.show {
    display: grid;
    grid-template-columns: repeat(1, 30%);
    margin: auto;
    grid-gap: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  nav{
    display: flex;
    flex-direction: column-reverse;
    background-color: #292828;
    /* background-color: transparent; */
  }

  .logo{
    display: none;
  }
}
@media all and (min-width:320px) and (max-width: 479px)  {
  .hero {
    margin: auto;
    height: 480px;
  }
  #hamburger{
    display: block;
    border: 0;
    background-color: #111;
    color: white;
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin: 10px;
    align-self: flex-end;
  }
  .hero-area{
    margin: auto;
    margin-top: 50px;
    width:600px;
    background-color: #111;
  }
  .hero-text{
    margin-left: 80px;
    margin-bottom: 30px;
  }
  .socials{
    padding-bottom: 40px;
  }
  .social{
    margin: 20px;
  }
  ul{
    display: none;
    background-color: transparent;
    margin: 0ppx;
  }
  ul.show{
    display: grid;
    grid-template-columns: repeat(1, 30%);
    margin: auto;
    grid-gap: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  nav{
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
  }
  .logo {
    display: none;
  }
}

/* ========== CSS for Subsection =================*/
.sub-section {
  padding: 50px;
  background-color: #fff;
  margin-top: 5%;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 1px solid black; */
}
.about-sec{
  display: flex;
  margin: auto;
  width: 90%;
  /* border: 1px solid black; */
  justify-content: space-around;
}
.title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
.sub-section h2 {
  color: black;
}
.sub-section p {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.information button {
  margin-top: 24px;
  font-size: 20px;
  font-weight: bold;
  background-color: #e29f3b;;
  border: none;
  border-radius: 6px;
  padding: 9px;
}
.information button:hover {
  background-color: #e29f3b;;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.headshot {
  width: 300px;
  height:300px;
  object-fit: cover;
  border-radius: 200px 200px;
}
.headshot-container {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  color:black;
}
.hamburger {
  display: none;
}
.hamburger:focus {
  outline: 0;
}
#info {
  grid-area: info;
}
#head {
  grid-area: head;
}
@media all and (min-width:480px) and (max-width:1000px) {
  .sub-section {
    padding: 60px;
    background-color: #fff;
    margin-top: 5%;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid black; */
  }
  .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
  }
  .about-sec {
    display: flex;
    flex-direction: column-reverse;
  }
  .sub-section h2 {
    margin-top: 80px;
    text-align: center;
  }
  .information button {
    margin-left: 45%;
    padding: 16px;
  }
  .headshot {
    margin: auto;
    width: 300px;
    height:300px;
    object-fit: cover;
    border-radius: 200px 200px;
    margin-bottom: 2%;
  }
  .sub-section p {
    text-align: center;
  }

  .information button {
    font-size: 24px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    padding: 20px 28px;
  }

}
@media all and (min-width:320px) and (max-width: 479px){
  .sub-section {
    padding: 60px;
    width:600px;
    background-color: #fff;
    margin-top: 5%;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid black; */
  }
  .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
  }
  .about-sec {
    display: flex;
    flex-direction: column-reverse;
  }
  .sub-section h2 {
    margin-top: 80px;
    text-align: center;
  }
  .information button {
    margin-left: 45%;
    padding: 16px;
  }
  .headshot {
    margin: auto;
    width: 300px;
    height:300px;
    object-fit: cover;
    border-radius: 200px 200px;
    margin-bottom: 2%;
  }
  .sub-section p {
    text-align: center;
  }
  .information button {
    font-size: 24px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    padding: 20px 28px;
  }

}
/* skill */
.skillSection {
  margin-top: 5%;
  padding: 12px;
  background-color: #fff;
  margin-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.skillTitle {
  color:#111;
  font-weight: bold;
  font-size: 40px;
  margin: auto;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  margin-top: 10px;
}
.skils-logos {
  height: 300px;
  margin-top: 20px;
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 6px;
  justify-content: space-around;
  place-items: center;
  text-align: center;
  max-width: 100%;
  margin-bottom: 20px;
}
.skils-logos span {
  /* display: flex; */
  padding: 10px;
}
.skils-logos span p {
  font-size: 18px;
  font-weight: 600;
  color:#111;
}
.skils-logos img {
  height: 70px;
  width: 75px;
  margin: 8px;
}

@media all and (min-width:480px) and (max-width:1000px) {
  .skils-logos {
    margin-top: 100px;
    grid-template-columns: repeat(3, 60px);
    height: auto;
    max-width: 100%;
  }
  .skils-logos img {
    height: 80px;
    width: 95px;
    margin: 8px;
  }
  .skils-logos span p {
    font-size: 10px;
    font-weight: 400;
  }
}
@media all and (min-width:320px) and (max-width:479px){
  .skillSection{
    width: 600px;
  }
  .skils-logos{
    margin-top: 100px;
    grid-template-columns: repeat(3, 60px);
    height: auto;
    max-width: 100%;
  }
  .skils-logos img{
    height: 80px;
    width: 95px;
    margin: 8px;
  }
  .skils-logos span p{
    font-size: 10px;
    font-weight: 400;
  }
}

/* projects */
.project-section{
  text-align: center;
  background-color: #111;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.project-container{
  display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: auto;
    margin-top: 2rem;
    width: 90%;
  /* border: 1px solid yellow; */
}
.project-card{
  overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: rgba(246, 247, 248, 0.543) 0px 2px 4px 0px, rgba(249, 250, 250, 0.32) 0px 2px 16px 0px;
    padding: 10px;
    /* border:1px solid red; */
    margin-bottom: 35px;
}

.project-card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.project-card img:hover {
  transform: scale(1.1);
  transition: 1s;
  /* overflow: hidden; */
}
.project-card:hover{
  /* transform: scale(1);
  transition: 1s;  */
    box-shadow: rgba(251, 250, 250, 0.25) 0px 54px 55px, rgba(247, 245, 245, 0.12) 0px -12px 30px, rgba(251, 250, 250, 0.12) 0px 4px 6px, rgba(245, 244, 244, 0.17) 0px 12px 13px, rgba(251, 250, 250, 0.09) 0px -3px 5px;
}
.project-body{
  text-align: left;
}
.button {
  display: inline-block;
  background-color: #e29f3b;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.project-body h1 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color:#e29f3b;
}

.project-body p{
  font-size: 18px;
  margin-top: 10px;
}
.project-btns{
  display: flex;
  justify-content: space-between;
  width: 50%;
  /* border: 1px solid white; */
}

.space1{
  margin-top: 50px;
  /* border: 1px solid white; */
}
.space2{
  margin-top: 20px;
  /* border: 1px solid white; */
}
.space3{
  margin-top: 70px;
}
.space4{
  margin-top: 70px;
}

.tech{
  display: flex;
  margin:left;
  gap: 10px;
}
.tech>img{

  /* border: 1px solid green; */
  margin-top: 5px;
  margin-left: 5px;
  width: 10%;
}
@media all and (min-width:480px) and (max-width:1000px) {
  .project-section{
    text-align: center;
    background-color: #111;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .project-container{
    display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
      margin: auto;
      margin-top: 2rem;
      width: 85%;
    /* border: 1px solid yellow; */
  }
  .project-card{
    overflow: hidden;
      border-radius: 0.5rem;
      box-shadow: rgba(246, 247, 248, 0.543) 0px 2px 4px 0px, rgba(249, 250, 250, 0.32) 0px 2px 16px 0px;
      padding: 10px;
  }
  .project-card img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  .project-card img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .project-card:hover{
    transition: 1s;
      box-shadow: rgba(251, 250, 250, 0.25) 0px 54px 55px, rgba(247, 245, 245, 0.12) 0px -12px 30px, rgba(251, 250, 250, 0.12) 0px 4px 6px, rgba(245, 244, 244, 0.17) 0px 12px 13px, rgba(251, 250, 250, 0.09) 0px -3px 5px;
  }
  .project-body{
    text-align: left;
  }
  .button {
    display: inline-block;
    background-color: #e29f3b;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .project-body h1 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 700;
    color:#e29f3b;
  }
  
  .project-body p{
    margin-top: 10px;
    font-size: 20px;
  }
  .project-btns{
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* border: 1px solid white; */
  }
  
  .tech{
    display: flex;
    margin:left;
    gap: 10px;
  }
  .tech>img{
  
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-left: 5px;
    width: 10%;
  }

}

@media all and (min-width:320px) and (max-width:479px) {
  .project-section{
    text-align: center;
    background-color: #111;
    color: #fff;
    margin: auto;
    width:600px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .project-container{
    display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 1rem;
      margin: auto;
      margin-top: 2rem;
      width: 85%;
    /* border: 1px solid yellow; */
  }
  .project-card{
    overflow: hidden;
      border-radius: 0.5rem;
      box-shadow: rgba(246, 247, 248, 0.543) 0px 2px 4px 0px, rgba(249, 250, 250, 0.32) 0px 2px 16px 0px;
      padding: 10px;
  }
  .project-card img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  .project-card img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .project-card:hover{
    transition: 1s;
      box-shadow: rgba(251, 250, 250, 0.25) 0px 54px 55px, rgba(247, 245, 245, 0.12) 0px -12px 30px, rgba(251, 250, 250, 0.12) 0px 4px 6px, rgba(245, 244, 244, 0.17) 0px 12px 13px, rgba(251, 250, 250, 0.09) 0px -3px 5px;
  }
  .project-body{
    text-align: left;
  }
  .button {
    display: inline-block;
    background-color: #e29f3b;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .project-body h1 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 700;
    color:#e29f3b;
  }
  
  .project-body p{
    margin-top: 10px;
    font-size: 20px;
  }
  .project-btns{
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* border: 1px solid white; */
  }
  
  .tech{
    display: flex;
    margin:left;
    gap: 10px;
  }
  .tech>img{
  
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-left: 5px;
    width: 10%;
  }

}

/* github */
.boxing{
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.boxing>.title{
  margin: auto;
  width: 30%;
  text-align: center;
  /* border: 1px solid black; */
}
.serve-content{
  /* border: 1px solid blue; */
  margin: auto;
  margin-top: 20px;
}
.card1{
  /* border: 1px solid black; */
  margin: auto;
  width: 85%;
  display: flex;
}
.card1 img{
  margin: auto;
  
  width: 30%;
}
.card2{
  margin: auto;
  margin-top: 20px;
  width: 85%;
}

@media all and (min-width:480px) and (max-width:1000px){
  .boxing{
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .serve-content{
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 20px;
  }
  .card1{
    /* border: 1px solid black; */
    margin: auto;
    width: 90%;
    display: flex;
  }
  .card1 img{
    margin: auto;
    
    width: 30%;
  }
  .card2{
    margin: auto;
    margin-top: 20px;
    width: 90%;
  }
}
@media all and (min-width:320px) and (max-width:479px){
  .boxing{
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    width: 600px;
    background-color: #fff;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .serve-content{
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 20px;
  }
  .card1{
    /* border: 1px solid black; */
    margin: auto;
    width: 95%;
    display:grid;
    grid-template-columns: repeat(1,1fr);
  }
  .card1 img{
    margin: auto;
    width: 100%;
  }
  .card2{
    margin: auto;
    margin-top: 20px;
    width: 100%;
  }
}




/* contact */
.contact{
  background-color: #fff;
  margin-top: 80px;
}
.heading1{
  text-align: center;
  margin-top: 10px;
 
}
.contact .row {
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 40px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #fff;
}
.contact .row .content {
  margin-left: 15px;
  flex: 1 1 30rem;
  padding:10px 0;
  padding-bottom: 0;
  border-radius: 10px;
  /* border:1px solid black; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 20px;
  margin: 20px;
  margin-bottom:20px;
  border-radius: 10px;
  /* border:1px solid black; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.message1{
  font-size: 25px;
}
.contact .row form .box {
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(33, 32, 32);
  color:white;
  transform: none;
  font-size: 18px;
  width: 100%;
}
.contact .row form .box::placeholder {
  text-transform: capitalize;
}
.contact .row form .message {
  height: 15rem;
  resize: none;
}
.contact .row .content .title {
  text-transform: uppercase;
  color: black;
  font-size: 25px;
  padding-bottom: 1rem;
}
.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: black;
  padding: 10px 0;
  font-weight: normal;
}
.contact .row .content .info h3 i {
  margin-left: 20px;
  padding-right: 1rem;
  color: #e29f3b;
}
.btn{
  color: white;
    padding: 5px 10px;
    background:  #e29f3b;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    outline: none;
    border: none;
}
@media all and (min-width:320px) and (max-width:479px){

  .contact{
    background-color: #fff;
    width: 600px;
  }
  .heading1{
    text-align: center;
    margin-top: 40px;
   
  }
  .contact .row {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #fff;
  }
  .contact .row .content {
    margin-left: 15px;
    flex: 1 1 30rem;
    padding: 2rem 0;
    padding-bottom: 0;
    border-radius: 10px;
    /* border:1px solid black; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .contact .row form {
    flex: 1 1 45rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    /* border:1px solid black; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .message1{
    font-size: 25px;
  }
  .contact .row form .box {
    padding: 20px;
    margin: 1rem 0;
    background-color: rgb(33, 32, 32);
    color:white;
    transform: none;
    font-size: 18px;
    width: 100%;
  }
  .contact .row form .box::placeholder {
    text-transform: capitalize;
  }
  .contact .row form .message {
    height: 15rem;
    resize: none;
  }
  .contact .row .content .title {
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    padding-bottom: 1rem;
  }
  .contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: black;
    padding: 10px 0;
    font-weight: normal;
  }
  .contact .row .content .info h3 i {
    margin-left: 20px;
    padding-right: 1rem;
    color: #e29f3b;
  }
  .btn{
    color: white;
      padding: 5px 10px;
      background:  #e29f3b;
      font-weight: bold;
      margin-top: 10px;
      font-size: 20px;
      border-radius: 10px;
      transition: 0.4s;
      cursor: pointer;
      outline: none;
      border: none;
  }
}
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: #06d6a0;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
@media all and (min-width:480px) and (max-width:1000px){
  footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
  }
  footer span a {
    color: #06d6a0;
    text-decoration: none;
  }
  footer span a:hover {
    text-decoration: underline;
  }
}
@media all and (min-width:320px) and (max-width:479px){
  footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    width: 600px;
    text-align: center;
  }
  footer span a {
    color: #06d6a0;
    text-decoration: none;
  }
  footer span a:hover {
    text-decoration: underline;
  }
}